* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

.bg-image {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;  
    z-index: -1;
}


.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7rem;
    padding: 0 2rem;

}

.img img {
    width: 500px;
}

.login-container {
    display: flex;
    align-items: center;
    text-align: center;
}

.avatar {
    width: 100px;
}

form {
    width: 360px;
}

form h2 {
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
}

.login-input {
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-input > div {
    position: relative;
    height: 45px;
}

.login-input > div h5 {
    position: absolute;
    height: 70%;
    left: 10px;
    top: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: #999;
}

.login-input input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    font-family: 'Fira Sans', sans-serif;
}

a {
    display: block;
    text-align: right;
    height: 30px;
    text-decoration: none;
    font-size: 0.9rem;
}

.btn {
    width: 85%;
}

@media (min-width: 990px) {
    .img img {
         width: 40vw;
    }
}

@media (max-width: 989.999px) {
    .img {
        display: none;
    }
    .container {
        grid-template-columns: 1fr;
    }
    .login-container {
        justify-content: center;
    }
}

@media (max-width: 380px) {
    .login-input {
        width: 90%;
    }

    a {
        transform: translateX(-40px);
    }
}
.hidden {
    display: none;
}

span {
    cursor: pointer;
    color: #007bff;
}
.text:hover {
    color: #0069d9 ;
}
.inner-text {
    color: red;
    text-align: left; 
}