
#calculator {
    font-family: 'Bernard MT', monospace;
    font-size: small;
    text-align: center;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}



/*need to add hover and onclick effects*/

